html{
    background-color: #333;
    width
}
@font-face
{
    font-family: Helvetica;
    src: url("Styles/fonts/Helvetica%Neu%Bold.ttf");
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
.logo{
    height: 29px; 
    padding: 14px 16px;
    margin-top: 0;
    float:left; 
}
nav ul li {
    display: inline;
    background-color: white;
  overflow: hidden;
    margin: 0px;    
}
/* Style the links inside the navigation bar */
nav ul li a{
  list-style-type: none;
    display: inline;
  font-family: Helvetica;
    font-weight: bold;
  float: left;
  color: white;
  text-align: center;
  padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 16px;
    padding-top: 16px;
    text-decoration:none;
  font-size: 25px;
}
/* Change the color of links on hover */
nav ul li a:hover {
  background-color: #333;/*#ddd*/
  color: #4dc1ff;
}

/* Add a color to the active/current link */ 
nav ul li a:active {
    background-color: #333;
    color: #4dc1ff;
    transition: transform .5s ease;
    transform: scale(.8);
}
.active {
  background-color: #4dc1ff;
  color: #333;
}
.FrankBG{
    margin: 0;
    padding: 0px;
}
h1{
    font-size: 40px;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
    color: white;
    margin: 17px;
}
p{
    font-family: Helvetica;
    text-align: center;
    font-weight: 100;
    color: white;
}
.column {
    float: left;
}
.EarlyLifeContainer {
    border: 5px;
    border-style: solid;
    border-color: #4dc1ff;
    position: relative;
    height: 394px; /* [1.1] Set it as per your need */
    width: 650px;
    
    margin-left: 140px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 140px;
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */

}
.EarlyLifeImg{
    width: 700px;
    float: left;
  transition: transform .5s ease, filter .5s ease-in-out;
    filter: grayscale(100%);
  /*margin: 0px auto;*/
}
.EarlyLifeImg:hover {
    -webkit-transform: scale(.5); /* Safari 3-8 */
    filter: grayscale(0);
    transform: scale(1.5);
    width: 700px;
    
}
.EarlyLifeText
{    
    font-family: Helvetica;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 175px;
    left: 225px;
    background: rgba(0, 0, 0, 0.7);    
    color: white;
    padding: 10px 20px;
}

.AlbumContainer {
    border: 5px;
    border-style: solid;
    border-color: #4dc1ff;    
    position: relative;
    height: 394px; /* [1.1] Set it as per your need */
    width: 650px;
    margin-left: 140px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 0px;
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}
.AlbumsImg{
    width: 700px;
    float: right;
  transition: transform .5s ease, filter .5s ease-in-out;
    filter: grayscale(100%);
  /*margin: 1px auto;*/
}
.AlbumsImg:hover{
    -webkit-transform: scale(.5); /* Safari 3-8 */
    transform: scale(1.5);
    filter: grayscale(0);
    width: 700px;
}
.AlbumsText{
    font-family: Helvetica;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 175px;
    left: 225px;
    background: rgba(0, 0, 0, 0.7);    
    color: white;
    padding: 10px 20px;
}

.FutureContainer {
    border: 5px;
    border-style: solid;
    border-color: #4dc1ff;
    position: relative;
    height: 394px; /* [1.1] Set it as per your need */
    width: 650px;
    margin-left: 140px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 140px;
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */

}

.FutureImg {
    width: 700px;
    float: left;
  transition: transform .5s ease, filter .5s ease-in-out;
    filter: grayscale(100%);
  /*margin: 1px auto;*/

}
.FutureImg:hover{
    -webkit-transform: scale(.5); /* Safari 3-8 */
    transform: scale(1.5);
    filter: grayscale(0);
    width: 700px;    
}

.FutureText {
    font-family: Helvetica;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 175px;
    left: 260px;
    background: rgba(0, 0, 0, 0.7);    
    color: white;
    padding: 10px 20px;    
}

.GalleryContainer {
    border: 5px;
    border-style: solid;
    border-color: #4dc1ff;
    position: relative;
    height: 394px; /* [1.1] Set it as per your need */
    width: 650px;
    margin-left: 140px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 0px;
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */    
}
.GalleryImg {
    position: absolute;
    width: 700px;
    /*float: right;*/
  transition: transform .5s ease, filter .5s ease-in-out;
    filter: grayscale(100%);
 /* margin: 1px auto;*/    
}
.GalleryImg:hover{
    -webkit-transform: scale(.5); /* Safari 3-8 */
    transform: scale(1.5);
    filter: grayscale(0);
    width: 700px;    
}
.GalleryText {
    font-family: Helvetica;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 175px;
    left: 240px;
    background: rgba(0, 0, 0, 0.7);    
    color: white;
    padding: 10px 20px;    
}
footer{
    font-family: Helvetica;
    clear: both;
    border-top: 1px solid #4dc1ff;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: #434543;    
    text-align: center;
}
footer ul
{
    font-size: 20px;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer ul li{
    list-style-type: none;
    display: inline;
    padding: 15px;
    margin: 5px;
}
footer ul li a{
        color: white;
    text-decoration: none;
}
small
{
    text-align: center;
    color: white;
}

@media (max-width: 1600px) {
    .EarlyLifeContainer {
        
        margin-left: 85px;
        margin-right: 10px;
        width: 570px;
        height: 321px;
    }
    .AlbumContainer {
        margin-left: 5em;
        margin-right: 0px;
        width: 570px;
        height: 321px;
    }
    .FutureContainer {
        margin-left: 5em;
        margin-right: 10px;
        width: 570px;
        height: 321px;
    }
    .GalleryContainer {
        margin-left: 5em;
        margin-right: 0px;
        width: 570px;
        height: 321px;
    }    
    .EarlyLifeText {
        top: 130px;
        left: 200px;
    }
    .AlbumsText {
        top: 130px;
        left: 210px;
    }
    .FutureText {
        top: 130px;
        left: 220px;
    }
    .GalleryText {
        top: 130px;
        left: 220px;
    }
}